.guruh-azolari-nomi {
  font-weight: 900px;
  font-size: 19px;
}

.guruh-azolari-nomi-mini {
  font-size: 28px;
  font-weight: 1000px;
}

.header-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main-titile {
  text-align: center;
  font-size: 50px;
}
